/* CSS VARIABLES ---------------------------------------------- */
/* https://www.w3schools.com/css/css3_variables.asp */
:root {
  --color-green: #17fcce;
  --color-green-hover: #0dd4ac;
  --color-white: #FFFFFF;
  --color-dark: #0c0c1f;
  /* --color-dark2: #11112e; */
}


/* PREDEFINED ---------------------------------------------- */
*, *:after, *:before {
  margin: 0;
  padding: 0;
  border: none;
  border-radius: 0;
  box-sizing: border-box;
  outline: none;
  font-family: 'Montserrat', sans-serif;
}
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  position: relative;
  margin: 0 auto;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-weight: 400; 
  font-style: normal;
  color: var(--color-white); 
}
body:after {
  content: "Rowin Schmidt";
  position: fixed;
  left: 35px;
  bottom: 28px;
  color: var(--color-dark);
  font-weight: 600;
}


/* GENERAL STYLING ---------------------------------------------- */
/* HEADER ----------- */


/* MAIN ----------- */
main {
  /* height: 100vh;
  width: 100vw; */
  overflow-y: auto;
  background-color: var(--color-dark);
  position: relative;
  margin: 0 auto;
  height: 812px;
  width: 375px;
  border-radius: 40px;
  box-shadow: 0 15px 50px rgba(58, 58, 166, 0.35);
  animation: 1.5s main-entering ease;
}


/* PLAYLIST INFO */
main section:first-of-type {
  padding-top: 4em;
  padding-bottom: 1.75em;
  background-color: rgba(58, 58, 166, 0.15);
  border-radius: 0 0 3em 3em;
  margin-bottom: 2em;
  text-align: center;
}
main section:first-of-type img {
  width: 8em;
  border-radius: 1.25em;
}
main section:first-of-type h2 {
  font-size: 1.5em;
  margin-top: 1em;
  margin-bottom: 0.25em;
}
main section:first-of-type p {
  margin: 0 auto;
  font-size: 0.85em;
  opacity: 0.65;
  width: 90%;
  line-height: 1.3em;
}


/* PLAYLIST CONTENT */
main section > ul {
  display: flex;
  flex-direction: column;
}
main section > ul li {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  cursor: pointer;
  transition: 0.25s;
}
main section > ul li:hover {
  opacity: 0.65;
}
main section > ul.unfocus li {
  opacity: 0.45;
}
main section > ul li.drag-sort-active {
  background-color: rgba(58, 58, 166, 0.15);
  opacity: 1;
}
main section > ul li figure {
  margin: 0 auto;
  width: 90%;
  display: flex;
  flex-direction: row;
  align-items: center;
}
main section > ul li figcaption {
  margin-left: 0.75em;
}
main section > ul li img {
  width: 2.65em;
  border-radius: 5px;
}
main section > ul li h4 {
  font-size: 0.9em;
  font-weight: 600;
}
main section > ul li p {
  font-size: 0.75em;
  opacity: 0.65;
}


/* FOOTER ----------- */
footer > button {
  position: absolute;
  bottom: 1.5em;
  left: 50%;
  transform: translateX(-50%);
  padding: 0.85em 2em;
  border-radius: 2em;
  font-weight: 600;
  background-color: var(--color-green);
  color: var(--color-dark);
  transition: 0.25s;
  animation: 2.5s button-entering ease;
  cursor: pointer;
}
footer > button:hover {
  background-color: var(--color-green-hover);
}


/* KEYFRAMES ---------------------------------------------- */
@keyframes button-entering {
  0%, 65% {
    transform: translateY(250%) translateX(-50%);
  }
  100% {
    transform: translateY(0) translateX(-50%);
  }
}

@keyframes main-entering {
  0%, 35% {
    transform: translateY(150%);
  }
  100% {
    transform: translateY(0);
  }
} 







